body
{
    background:#D8F2F2;
    font-family:Arial, Helvetica, sans-serif;

}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width: 30%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background: #F24B6A;
    border-radius: 10px;

}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid #A60311;
    display:block;
    margin:auto;
}

.assignment img:hover
{
    border: 2px dotted white;
}

h1
{
    color: #A60311;
    text-align: center;
}

h2
{
text-align:center;
}

a
{
    text-decoration: none;
    color:#733A2D;
}

a:hover
{
    color: white;
}