/*Two ways to select an element, Ids v Clss Names
An Id is unique, whereas a class name can be used for multiple similar elements
*/


/*Structure*/

body
{
   /*colors can be hex, name, or rgb(r,g,b) format*/
   font-family: Arial, Helvetica, sans-serif;
   background: url(images/giraffe.jpg);
}

#content {
   background: rgba(209, 240, 230, 0.9); /*adding a --> rgba gives alpha channel for transparency*/
   width: 75%;
   margin:auto;
   padding: 1px 10px;
   border-radius: 5px;
   box-shadow:15px 15px #b3e6d5;
}

/*Navigation*/
#main-nav a {
   background:#6253be;
}
#main-nav a:hover {
    background: #d7d2fa;
}

a {
   text-decoration: none;
   background: #d7d2fa;
   color: black;
   padding: 4px;
   border-radius: 3px;
}

a:hover {
   background: #bdb4f7;
}

/*Images*/
img {
   padding: 10px;
   margin: 10px;
   border: 5px solid #c8d6e8;
   border-radius: 5px;
}
/*Padding inside border, margin outside*/

/*Tables*/
table {
   border-collapse: collapse;
}

th,
td{
   border:1px solid #0a1511;
   padding: 4px;
}
/*PADDING is the space between elements (borders and text)*/

th {
   background: #c8d6e8;
}

td {
   background: #dfe7f2;
}

/*Typography*/
h1 {
   color: #f0faf7;
   font-style:italic;
}

h2 {
   color: #295244;
}

#g-things {
   font-style: italic;
}

strong {
   color: pink;
}

.big {
   font-size: 20px;
}

/* # for id ; . for class*/