/*Color Scheme
body background	#2F3E34
content container	#FAF7F2
section cards	#EAE6DF
headings	#3A4A3F
paragraph text	#5E6F64
links	#8B6B4F
link hover	#3A4A3F

Primary font: font-family: 'Lora', serif;
Headings: font-family: 'Merriweather', serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Merriweather:wght@400;700&display=swap');

/*Structure*/
body {
    background: #2F3E34;
}

#content {
    background: #FAF7F2;
    border-radius: 4px;
}

#main-header,
#main-footer {
    background: #bdc7bd;
    padding: 4px;
}

#main-header {
    border-radius: 4px 4px 0 0;
}

#main-content {
    padding: 10px;
}

#main-footer {
    border-radius: 0 0 4px 4px;
}

#assignments-section,
#project-section {
    padding: 1rem 4rem;
    gap: 2rem;
}


/*Navigation*/
a {
    text-decoration: none;
}

#main-header a {
    padding: 5px;
    border-radius: 4px;
    background: #8B6B4F;
    color: #FAF7F2;
}

#main-header a:hover {
    background: #3A4A3F;
}

.assignment {
    display: block;
    background: #d3cfc9;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.5rem;
    align-items: center;
    text-align: center;
    color:#2F3E34;
    
}

.assignment:hover {
    background: #bebab5
}


/*Images*/
.assignment img {
    background: #463628;
    padding: 4px;
    border: 2px solid #463628; 
    border-radius:2px;
}



/*Typography*/
#main-header h1,
#main-header h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #3A4A3F;
}

#main-header h1 {
    margin: 4px 2px;
}

#main-header h2 {
    margin: 2px 4px;
}


#main-header p,
#main-footer p {
    text-align: center;
    font-family: 'Lora', serif;
}

.section-title {
    text-align:center;
    font-family: 'Lora',serif;
    margin:4px;
    padding: 4px;
    color: #3A4A3F;
}


/*Larger Displays*/
@media(min-width:800px) {
    #assignments-section,
    #project-section {
        display: flex;
        flex-wrap: wrap;
    }

    .assignment {
        flex:1;
    }


}