

/* ------------- Explore Page ------------------------ */

/* ------------- Slider ------------------------------- */

#explore-page-slider {
    display: flex;
    width: 100%;
    height: auto;
    background: var(--eggshell);
    box-shadow: 5px 5px 10px 2px var(--shadow);
    font-family: 'Cormorant Garamond', serif;
    overflow: visible;
    box-sizing: border-box;
}

#slider-image {
    flex: 1 1 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    padding: 0;
    margin: 0;
    min-width: 0;
    z-index: 1;
    margin-right: -10px;
}

#slider-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 1rem 2rem;
    margin-top: -1.5rem;
    font-size: 1.5rem;
    min-width: 0;
    z-index: 2;
    position: relative;
    margin: -10px;
    width: 90%
}

#slider-content p {
    margin: 1rem 2rem;
    text-align: left;
    margin-right: 2rem;
}

#slider-content h1 {
    margin: 1rem 2rem;
}

#browse-gallery-button {
    align-self: center;
    margin: 1rem;

}

@media (max-width: 1200px) {
    #explore-page-slider {
        flex-direction: column;
        height: auto;
    }

    #slider-image {
        width: 100%;
        height: 320px;
        object-fit: cover;
        margin-right: 0;
    }

    #slider-content {
        width: 95%;
        padding: 1rem;
        margin : .2rem 1rem;
        align-items: center;
    }
}

/* ------------- Featured Collections ------------------------- */


#featured-collections {
    width: 100%;
    background: transparent;
    padding: 0;
    margin-top: 1.5rem;
}


.explore-page-title {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 200;
    text-decoration: 1px underline;
    text-underline-offset: 6px;
    font-size: 2rem;
    margin: 0 0 20px 0;
}

.collections-row {
    display: flex;
    gap: 24px;
    align-items: stretch;
    width: 100%;
}


.collection-card {
    flex: 1 1 0;
    display: block;
    min-width: 0;
    overflow: hidden;
    text-decoration: none;
    aspect-ratio: 4 / 3;
    box-shadow: 5px 5px 10px 2px var(--shadow);
}

.collection-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform .25s ease, box-shadow .25s ease;
}

.collection-card:hover img {
    transform: scale(1.03);
}

@media (max-width: 900px) {

    .collections-row {
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .collection-card {
        width: 100%;
        flex: 0 0 100%;
    }

    .collection-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ------------- Featured Artists ------------------- */
#explore-artists-and-favorites {
    display: flex;
    gap: 32px;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    margin-top: 1rem;
}

#explore-artists-and-favorites .half-col {
    flex: 1 1 0;
    min-width: 0;
}

.artists-row {
    display: flex;
    gap: 20px;
    align-items: stretch;
    width: 100%;
}


@media (max-width: 900px) {
    #explore-artists-and-favorites {
        flex-direction: column;
    }

    .artists-row {
        display: flex;
        gap: 18px;
    }

    .artist-link {
        width: 100%;
    }
}

/* ---------- Favorites Gallery----------------- */
#explore-page-favorites-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--eggshell);
    box-shadow: 5px 5px 10px 2px var(--shadow);
}

#explore-page-favorites-gallery h2 {
    margin: auto 10px;
}

#explore-favorited-works {
    display: flex;
    gap: 12px;
    align-items: stretch;
    width: 95%;
    margin: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}


#explore-favorited-works .favorite-link {
    flex: 1 1 calc(33.333% - 8px);
    display: block;
    aspect-ratio: 3 / 4;
    text-decoration: none;
    box-shadow: 5px 5px 10px 2px var(--shadow);
    transition: transform .25s ease, box-shadow .25s ease;
}

#explore-favorited-works .favorite-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#explore-favorited-works .favorite-link:hover img {
    transform: scale(1.03);
    transition: transform .3s ease;
}

#view-my-gallery-button {
    align-self: center;
    margin: 10px;
    margin-top: 0;
}

@media (max-width: 900px) {
    .half-col {
        width: 100%;
    }

    #explore-favorited-works .favorite-link {
        flex: 1 1 calc(50% - 8px);
    }
}